<%= javascript_pack_tag 'gif_form', defer: true %>

<%= form_with(model: gif, local: true) do |form| %>
  <% if gif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gif.errors.count, "error") %> prohibited this gif from being saved:</h2>

      <ul>
        <% gif.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="column is-two-fifths">
      <div class="field">
        <%= form.label :image, class: 'label' %>
        <%= form.file_field :image, accept: 'image/gif' %>
        <figure class="image">
          <%= image_tag gif.image.attached? ? gif.image : '', id: 'gif-preview' %>
        </figure>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :title, class: 'label' %>
        <%= form.text_field :title, class: 'input', placeholder: '簡潔で分かりやすいタイトル' %>
      </div>

      <div class="field">
        <%= form.label :source_url, class: 'label' %>
        <%= form.url_field :source_url, class: 'input', placeholder: '例) https://youtu.be/JReuGEiCe1U?t=7721' %>
        <p class="help">切り抜き元のURLを入力してください。httpまたはhttpsから入力する必要があります。</p>
      </div>

      <div class="field">
        <%= form.label :tag_list, class: 'label' %>
        <%= form.text_field :tag_list, value: gif.tag_list.map { |tag| {value: tag} }.to_json %>
        <p class="help">YouTuber名、所属グループ名、かわいい、など書くと後から見つけやすくなります。Enterでタグを1つ確定します。</p>
      </div>

      <div class="actions">
        <%= form.button type: 'button', class: 'button is-primary', onclick: 'submit()' %>
      </div>
    </div>
  </div>
<% end %>
