<%= javascript_pack_tag 'gif_form', defer: true %>

<%= form_with(model: gif, local: true) do |form| %>
  <% if gif.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t('errors.template.body') %>:</h2>
    </div>
  <% end %>

  <div class="columns">
    <div class="column is-two-fifths">
      <div class="field">
        <div class="file">
          <%= form.label :image, class: 'file-label' do %>
            <%= form.file_field :image, class: 'file-input', accept: 'image/gif' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                アップロードするGIFを選択
              </span>
            </span>
          <% end %>
        </div>
        <div>
          <p>or...</p>
          <%= form.label :remote_image_url, class: 'label' %>
          <%= form.text_field :remote_image_url, class: 'input', placeholder: '例) https://j.gifs.com/OMz2yQ.gif' %>
          <p class="help">現在、gifs.comのDirect Linkからのみ取り込めます。</p>
        </div>
        <%= error_message(gif, :image) %>
        <figure class="image">
          <%= image_tag gif.image.attached? ? gif.image : '', id: 'gif-preview' %>
        </figure>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.label :title, class: 'label' %>
        <%= form.text_field :title, class: 'input', placeholder: '簡潔で分かりやすいタイトル' %>
        <%= error_message(gif, :title) %>
      </div>

      <div class="field">
        <%= form.label :source_url, class: 'label' %>
        <%= form.url_field :source_url, class: 'input', placeholder: '例) https://youtu.be/ao4QU9HTAt8?t=6113' %>
        <p class="help">httpまたはhttpsから入力する必要があります。</p>
        <%= error_message(gif, :source_url) %>
      </div>

      <div class="field">
        <%= form.label :tag_list, class: 'label' %>
        <%= form.text_field :tag_list, class: 'tagify', value: gif.tag_list.map { |tag| {value: tag} }.to_json %>
        <p class="help">YouTuber名、所属グループ名、かわいい、など書くと後から見つけやすくなります。Enterでタグを1つ確定します。</p>
      </div>

      <p><%= link_to '利用規約', page_path('terms_of_service'), target: 'noopenner' %>に同意して推せ↓</p>

      <div class="actions">
        <%= form.button type: 'button', id: 'submit_button', class: 'button is-primary' %>
      </div>
    </div>
  </div>
<% end %>
