<p id="notice"><%= notice %></p>

<%= image_tag @gif.image %>

<p>
  <strong>Title:</strong>
  <%= @gif.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @gif.user_id %>
</p>

<%= link_to 'Edit', edit_gif_path(@gif) %> |
<%= link_to 'Back', gifs_path %>
