<% set_meta_tags og: { image: image_public_url(ogp_image(@gif.image)) } %>
<% set_meta_tags twitter: { card: 'summary_large_image' } %>

<%= image_tag @gif.image %>

<div class="field has-addons copy-button">
  <div class="control has-icons-right">
    <%= url_field_tag 'public_url', full_url_for(@gif.image), class: 'input', readonly: true %>
  </div>
  <div class="control">
    <button class="button is-info has-tooltip-arrow" data-tooltip-tmp="Copied!">
      <span class="icon">
        <i class="fas fa-copy"></i>
      </span>
    </button>
  </div>
</div>

<div class="padding-20">
  <p>
    <strong>Title:</strong>
    <%= title @gif.title %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= @gif.source_url %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @gif.user_id %>
  </p>

  <p>
    <strong>Tags:</strong>
    <% @gif.tag_list.map do |tag| %>
      <%= link_to tag_path(tag) do %>
        <span class="tag is-link"><%= tag %></span>
      <% end %>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_gif_path(@gif) %> |
  <%= link_to 'Back', gifs_path %>
</div>
