<%= image_tag @gif.image %>

<p>
  <strong>Title:</strong>
  <%= @gif.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @gif.source_url %>
</p>

<p>
  <strong>User:</strong>
  <%= @gif.user_id %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @gif.tag_list %>
</p>

<%= link_to 'Edit', edit_gif_path(@gif) %> |
<%= link_to 'Back', gifs_path %>
