<% set_meta_tags og: { image: image_public_url(ogp_image(@gif.image)) } %>
<% set_meta_tags twitter: { card: 'summary_large_image' } %>

<%= image_tag @gif.image %>

<div class="content">
  <p class="title is-3 is-inline"><%= title @gif.title %></p>
  <% if @gif.editable?(current_user) %>
    <%= link_to edit_gif_path(@gif), class: 'is-inline' do %>
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    <% end %>
  <% end %>
</div>

<div class="field has-addons copy-button">
  <div class="control has-icons-right">
    <%= url_field_tag 'public_url', full_url_for(@gif.image), class: 'input', readonly: true %>
  </div>
  <div class="control">
    <button class="button is-info has-tooltip-arrow" data-tooltip-tmp="Copied!">
      <span class="icon">
        <i class="fas fa-copy"></i>
      </span>
    </button>
  </div>
</div>

<div class="field">
  <a class="button is-info is-small" href="<%= tweet_url(@gif.title, gif_url(@gif)) %>" target="_blank" rel="ugc noopenner noreferrer">
    <span class="icon">
      <i class="fab fa-twitter"></i>
    </span>
    <span>Tweet</span>
  </a>
</div>

<div class="content">
  <p>
    <span class="icon">
      <i class="fas fa-share-square"></i>
    </span>
    <%= link_to @gif.source_url, @gif.source_url, target: '_blank', rel: 'ugc noopener noreferrer' %>
  </p>

  <p>
    <span class="icon">
      <i class="fas fa-user"></i>
    </span>
    <%= link_to @gif.user.displayname, @gif.user %>
  </p>

  <p>
    <% @gif.tag_list.map do |tag| %>
      <%= link_to tag_path(tag) do %>
        <span class="tag is-link">#<%= tag %></span>
      <% end %>
    <% end %>
  </p>
</div>
