<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags default_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
    <%= javascript_pack_tag 'layout', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-mutate-approach="sync"></script>
    <%= render 'layouts/gtag' if Rails.env.production? %>
  </head>

  <body>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to 'vGIF', root_path, class: 'navbar-item' %>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'GIFs', gifs_path, class: 'navbar-item' %>
          <%= link_to 'Tags', tags_path, class: 'navbar-item' %>
        </div>
        <div class="navbar-end">
          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link"><%= current_user.displayname %></a>
              <div class="navbar-dropdown is-right">
                <%= link_to 'ユーザページ', current_user, class: 'navbar-item' %>
                <%= link_to 'ユーザ設定', user_edit_path, class: 'navbar-item' %>
                <hr class="dropdown-divider" />
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'navbar-item has-text-danger' %>
              </div>
            </div>
          <% else %>
            <%= link_to 'Twitterアカウントでログイン', :user_twitter_omniauth_authorize, class: 'navbar-item' %>
            <%= link_to 'developerでログイン', :user_developer_omniauth_authorize, class: 'navbar-item' unless Rails.env.production? %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="<%= @no_container ? '' : 'my-container' %> flex-1">
      <% if notice %>
        <div class="notification is-primary is-light">
          <button class="delete"></button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="notification is-warning">
          <button class="delete"></button>
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <%= link_to '利用規約', page_path('terms_of_service') %>
          、
          <%= link_to 'プライバシーポリシー', page_path('privacy_policy') %>
          見てね。
        </p>
        <p>
          <a href="https://twitter.com/_leo_isaac" target="noopener">金欠でヲタクな学生</a>
          が
          <a href="https://github.com/i544c/vgif" target="noopenner">個人で作っています</a>
          。
        </p>
      </div>
    </footer>
  </body>
</html>
