<p class="title is-3">ユーザ設定</p>

<%= form_with(model: @user, url: user_update_path) do |form| %>
  <div class="field">
    <%= form.label :username, class: 'label' %>
    <%= form.text_field :username, class: 'input'  %>
    <%= error_message(@user, :username) %>
  </div>

  <div class="field">
    <%= form.label :displayname, class: 'label' %>
    <%= form.text_field :displayname, class: 'input' %>
    <%= error_message(@user, :displayname) %>
  </div>

  <div class="field">
    <%= form.label :tag_list, class: 'label' %>
    <%= form.text_field :tag_list, class: 'tagify', value: current_user.tag_list.map { |tag| {value: tag} }.to_json %>
    <p class="help">YouTuber名を書くと良いでしょう。Enterでタグを1つ確定します。</p>
  </div>

  <div class="actions">
    <%= form.button type: 'button', id: 'submit_button', class: 'button is-primary' %>
  </div>
<% end %>

<hr />

<div class="message is-danger">
  <div class="message-header">
    <p>退会する場合</p>
  </div>
  <div class="message-body">
    <p>下の「退会する」をクリックすることで、あなたのアカウント情報の全てを本サービスから削除します。</p>
    <p><strong>この操作は取り消せません。</strong></p>
    <button class="button is-danger open-modal">退会する</button>

    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <p>ご不明・ご不満な点がありましたら、<a href="https://twitter.com/messages/compose?recipient_id=3065982787&text=vGIF%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6" target="noopener">お気軽にご連絡ください。</a></p>
          <p>また、本サービスはソースコードを公開しており、誰もが機能の追加や修正ができ、また提案することができます。こちらもご検討ください。</p>
          <p><a href="https://github.com/i544c/vgif" target="noopener">https://github.com/i544c/vgif</a></p>
          <hr />
          <p class="title is-5">それでも削除される場合...</p>
          <p>アカウント情報には、あなたがアップロードしたGIF全ても含まれ、退会を行うと直ちに削除が行われます。</p>
          <p><strong>この操作は取り消せません。</strong></p>
          <%= link_to '本当に退会する', user_delete_path, method: :delete, class: 'button is-danger' %>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

  </div>
</div>
